// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.form-control-sleep {
    display: block;
    width: 25%;
    padding: 0px 10px 0px 10px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }

  li.nav-item.dropdown {
    list-style-type: none;
}

.form-control2 {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-0.5* var(--bs-gutter-x));
  margin-left: calc(-0.5* var(--bs-gutter-x));
  justify-content: space-evenly;
}

.table {
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-emphasis-color);
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
  --bs-table-active-color: var(--bs-emphasis-color);
  --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
  --bs-table-hover-color: var(--bs-emphasis-color);
  --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color:#88604e;
}


.table-dark {
  --bs-table-color: #88604e;
  --bs-table-bg: #feffb4;
  --bs-table-border-color: rgb(77.4, 80.6, 83.8);
  --bs-table-striped-bg: rgb(44.1, 47.9, 51.7);
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: rgb(55.2, 58.8, 62.4);
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: rgb(49.65, 53.35, 57.05);
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: #88604e;
}

.mental-table-body {
  text-align: center;
  vertical-align: middle;
}
.border {
  border-color: #88604e !important;
}

.mental-weather-index {
  font-size: 0;
  margin-right: 24px;
  margin-left: 15px;
  opacity: 0; /*ボタンの透明化*/
}

.mental-weather-index-button {
  padding-right: 10px;
}

.btn-success {
  background: #FFA9A1; //ボタンの背景色
  color: #FEFFB4; //ボタンのテキストの色
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-bg:none;
  --bs-btn-hover-border-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
  
}

.btn-success:hover, .btn-success:focus, 
.btn-success:active, .btn-success:active:focus, .btn-success:active:hover, .btn-success:active.focus,
.btn-success.active, .btn-success.active:focus, .btn-success.active:hover, .btn-success.active.focus,
.open > .dropdown-toggle.btn-success, 
.open > .dropdown-toggle.btn-success:hover,
.open > .dropdown-toggle.btn-success:focus, 
.open > .dropdown-toggle.btn-success.focus,
.btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus {
    background:#ff8e84; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color:#FEFFB4; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

.btn-primary {
    background: #88604e; //ボタンの背景色
    color: #FEFFB4; //ボタンのテキストの色
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-bg:none;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-disabled-bg: #88604e;
    --bs-btn-disabled-border-color: none;
    --bs-btn-disabled-color: #FEFFB4;
    
  }
  
  .btn-primary:hover, .btn-primary:focus, 
  .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
  .btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
  .open > .dropdown-toggle.btn-primary, 
  .open > .dropdown-toggle.btn-primary:hover,
  .open > .dropdown-toggle.btn-primary:focus, 
  .open > .dropdown-toggle.btn-primary.focus,
  .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
      background:#5e3d2d; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
      color:#FEFFB4; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
  }

  .btn-outline-light {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #FFA9A1;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #FFA9A1;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px #FFA9A1;
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}