body {
  background-color: #feffb4;
  color: #88604e;
}

.navbar-laravel {
  background-image: linear-gradient(0deg, transparent 31px, #fff 32px), linear-gradient(90deg, transparent 31px, #fff 32px);
  background-size: 32px 32px;
  background-color: #72e2b3;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #72e2b3;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group {
  margin-bottom: 1rem;
}

.list-group-item {
  color: #fff;
  border-color: #fff;
  background-color: #72e2b3;
}
